%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Passwd:
  = @user.passwd
%p
  %b Age:
  = @user.age
%p
  %b Sex:
  = @user.sex
%p
  %b Phone:
  = @user.phone
%p
  %b Brith:
  = @user.brith
%p
  %b Address:
  = @user.address

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
